//media query
@include minMq(991px) {
    header {
        .navbar-nav {
            & > li.dropdown {
                & > .dropdown-menu {
                    border-radius: 6px;
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    background-color: $white;
                    border-radius: 5px;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
                    display: block;
                    font-size: 14px;
                    left: 0;
                    margin: 0;
                    min-width: 200px;
                    padding: 0;
                    @include transition(all 0.2s ease);
                    -webkit-transform: translateY(20px);
                    -ms-transform: translateY(20px);
                    transform: translateY(20px);
                    top: 100%;
                    visibility: hidden;
                    z-index: 99;
                }
                &:hover {
                    & > .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        margin-top: 0;
                        -webkit-transform: translateY(0);
                        -ms-transform: translateY(0);
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

@include maxMq(991px) {
    header {
        .navbar-toggler {
            padding-left: 0.35rem;
            padding-right: 0.35rem;
            color: $white;
            &:focus {
                box-shadow: none;
                border-color: none;
            }
        }

        .navbar-collapse {
            padding: 0.75rem 0.125rem;
            position: fixed;
            left: -300px;
            width: 300px;
            height: 100vh;
            top: 0;
            bottom: 0;
            z-index: 99;
            background: $theme-clr;
            @include box-shadow(0 8px 20px -12px rgba(0, 0, 0, 0.6));
            @include transition(left 0.3s ease-in-out);
            .navbar-nav {
                gap: 0.25rem !important;
                .nav-item {
                    &:nth-of-type(2) {
                        margin-top: 2rem;
                    }
                    &.dropdown {
                        .dropdown-menu {
                            text-align: start !important;
                            border-radius: 0;
                        }
                    }
                    .nav-link {
                        padding: 0.5rem 0.75rem;
                        text-align: start;
                        position: relative;
                    }
                }
            }
            &.show {
                left: 0;
                @include transition(left 0.3s ease-in-out);
                .close-wrap {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    .close-btn {
                        font-size: 1.75rem;
                    }
                }
            }
        }
    }

}